<h1>All Users</h1>

<h2>
  <% @users.each do |user| %>

    <%= user.id %>.
    <%= user.first_name %>
    <%= user.last_name %>
    <%= user.user_name %>
    <%= user.email %>

    <br>

    <%= image_tag user.avatar.url %>

    <br>

    <%= link_to ("User's Profile page"), user_path(user.id) %>
    
    <%= link_to 'Delete user',  { action: :destroy, id: user.id }, method: :delete %>
    <hr>

  <% end %>

</h2>
