<h1>
  <%= @post.user.first_name %> <%= @post.user.last_name %>'s Post
</h1>

<h2>
  <%= link_to ("Create A New Post To Share"), new_post_path %>
</h2>

<h2>
  <% @posts.each do |post| %>

    <%= post.id %>.
    <%= post.title %>

    <br>

    <%= post.content %>

    <br>

    Posted at <%= post.created_at %>

    <br>

    Posted By: <%= @post.user.fname %> <%= @post.user.lname %>

  <% end %>

</h2>
