<h2>
  <%= link_to ("Create A New Post To Share"), new_post_path %>
</h2>

<h1>
  <%= @post.user.user_name %>'s Post
</h1>


<p>
    <% @post.id %>
    <%= @post.title %>

    <br>

    <%= @post.content %>

    <br>

    Posted at <%= @post.created_at %>

    <br>

    Posted By: <%= @post.user.first_name %> <%= @post.user.last_name %>

    <br>
    
    <%= link_to 'Delete Post', { action: :destroy, id: @post.id },
    method: :delete %>

    <%= link_to 'Edit Post', edit_post_path(user_id: @post.id) %>

</p>
