<h1>
  <%= @post.user.first_name %> <%= @post.user.last_name %>'s Post
</h1>

<h2>
  <%= @post.id %>.
  <%= @post.title %>

  <br>

  <%= @post.content %>

  <br>

  Posted By: <%= @post.user.fname %> <%= @post.user.lname %>
</h2>
