<!DOCTYPE html>
<html>
  <head>
    <title>SharingAppRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <center>
    <nav>
      <% if (user_signed_in?) %>
        <%= link_to "Home", home_page_path %>
        <%= link_to "Share", new_post_path %>
        <%= link_to "Users", users_path %>
        <%= link_to "Post Feed", posts_path %>
        <%= link_to "Inbox", shared_posts_path %>
        <%= link_to "Profile", user_path(current_user.id) %>
        <%= link_to 'Sign Out', { :action => 'destroy', :controller => 'devise/sessions' },	method: :delete %>
    	<% else %>
        <%= link_to "Home", home_page_path %>
        <%= link_to 'Sign In', new_user_session_path %>
    		<%= link_to 'Sign Up', new_user_registration_path %>
      <% end %>
    </nav>
    </center>
    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </body>
</html>
